.header {
    position  : relative;
    z-index   : 110;
    background: black;
    box-shadow: 1px 5px 5px rgba(135, 135, 135, 0.25);
}

.nav {
    display    : flex;
    align-items: center;
}

.header__wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav__list {
    display    : flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 65px;
}

.nav__link {
    font-size  : 18px;
    line-height: 20px;
    text-align : right;
    color      : #fff;
    transition : color .4s;
}

.nav__link:hover {
    color: #7cff0a;
}

.fa-user-o {
    color: #fff;
}

.header__logo {
    color    : #fff;
    font-size: 36px;
}

.header__auth {
    margin-left: 62px;
}

.logout {
    color      : #47ff0a;
    margin-left: 10px;
}

.registration,
.login {
    transition: color .3s;
}

.registration:hover,
.login:hover {
    color: #0a84ff;
}